.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 50px;
  background-color: beige;
}

.Footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #343a40;
}

.Body {
  padding: 10px;
}

.Header {
  background-color: #343a40;
  color: #fff;
}

.rbc-calendar-color {
  background-color: khaki;
}

.color-khaki {
  background-color: khaki !important;
}

.color-black {
  color: black !important;
}
