.labelVisit {
    font-size: 20px !important;
  }

.formVisit {
  margin-left: auto;
  margin-right: auto;
}

.searchTable {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.thSearch {
  width: 100px
}

